<main>

	<h2>Create Your Axis Account</h2>

	<div id="edit-form">

		<form action="/axis/:id" method="POST" class="axis-new">
			<div>
				<label for="name">Name:</label>
				<input type="text" name="name" id='name' placeholder="name">
			</div>
			<div>
				<label for="email">Email:</label>
				<input type="text" name="email" id='email' placeholder="email">
			</div>
			<div>
				<label for="boostOffer">Do you offer boosting?</label>
				<input type="checkbox" name="boostOffer" id='boostOffer' placeholder="">
			</div>
			<div>
				<label for="costPerHour">Cost per hour for boosting: $</label>
				<input type="number" name="costPerHour" id='costPerHour' placeholder="price">
			</div>
			<input type="submit" class='submit-button' value="Submit">
		</form>

	</div>
	<a href="/">
		<h3>Back to home</h3>
	</a>
</main>