<main>
	<h2>Account</h2>

		{{#each axis}}

			<div class="axis">

				<a href='{{_id}}'><h3>See More</h3></a>

				<p>{{name}}</p>

			</div>

		{{/each}}
<a href="/new"><h2>Create a new account</h2></a>

</main>

