<main>
	<h2>Axis Accounts:</h2>

	{{#each axis}}

	<div class="axis">
		<p>Name: {{name}}</p>
		<p>Email: {{email}}</p>
		<p>Cost per hour for boosting ${{costPerHour}} hours</p>
		<p><a href='/axis/{{_id}}'>See More</a></p>
	</div>

	{{/each}}
	<footer>
		<a href="/axis/new">Create a new account</a>
		<a href="/">Return to Home Page</a>
	</footer>
</main>