<div class="home-links">
    <a href="/alts">Browse Alt Accounts</a>

    <a href="/axis">Browse Axis Accounts</a>

    <a href="/comments">Browse Game Comments</a>
    
</div>

<div class='splashimg'>
        <img src="/img/coat.png">
        {{!-- Source: --}}
        {{!-- https://news-cdn.softpedia.com/images/news2/Chinese-Mobile-Black-Market-Activity-is-Booming-465004-2.jpg --}}
</div>