<!DOCTYPE>
	<html>
	<head>
		<title>The</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>

		<nav>
			<a href='/'><h1> The Grindhouse </h1></a>

			<div id="shoppingcart">
				<a href="/user"><img src="#"><br>
				Shopping Cart</a><br>
			</div>
		</nav>

	    {{{ body }}}

	    {{!-- <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="/script.js"></script> --}}
	</body>
</html>

