<!DOCTYPE>
	<html>
	<head>
		<title>The Grindhouse</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>

		<nav>
            {{!-- add a logo --}}
			<a href='/'><h1> The Grindhouse </h1></a>

			<div id="browse">
				<a href="/"><img src="#"><br>
				Browse Alts</a><br>
			</div>
            <div id="createNewUser">
				<a href="/new"><img src="#"><br>
				Create Axis Account</a><br>
			</div>
		</nav>

    {{{body}}}

        {{!-- {{{body -shows index.hbs of Axis --}}
	    {{!-- <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="/script.js"></script> --}}
	</body>
</html>

