<!DOCTYPE>
<html>

<head>
    <title>The Grindhouse</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
</head>

<body>
    <nav>
        <header>
            <img src="/img/High-Res-Logo---Millstone-ONLY---600.png">
            {{!-- Source: --}}
            {{!-- http://www.watervilleconsulting.com/about-us.html --}}
            <a href='/'>
                <h1> The Grindhouse </h1>
            </a>
        </header>
    </nav>

    {{{body}}}
    
</body>

</html>