body {
    background: red;
    border: 0;
    margin: 0;
}
header {
    background: black;
    color: white;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%
}

.splashimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%
}

header > a {
    text-decoration: none;
    color: white;
}
header > img {
    width: 15%
}
a {
    text-decoration: none;
    color: white;
}
.home-links {
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5)
}
.axis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}

.axis-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .5%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    height: 30%;
}

.axis-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}
.submit-button {
    color: red;
    background: black;
    font-size: 3vh;
    border-radius: 20%;
    border: none;
}

.alt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}

.alt-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .5%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
    height: 90%;
}

.alt-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}


.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}

.comment-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: .5%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
    height: 60%;
}

.comment-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}

#feedback {
    height:50%;
    width: 700px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 3vh;
    background: rgba(0, 0, 0, 0.5);
    margin: 2vh 1vw;
}