<main>

	<h2>Create Alt</h2>
	<div id="edit-form" class="alt-container">

	<form action="/" method="POST">
    <input type="text" name="alias" placeholder="alias">
    <input type="text" name="platform" placeholder="platform">
    <input type="text" name="youtubeLink" placeholder="youtubeLink">
	<input type="checkbox" name="forSale" placeholder="">
	<input type="number" name="price" placeholder="price">

    <input type="submit" value="Submit" onclick="add()">
	</form>
<a href="/"><h3>Back to home</h3></a>
	</div>
</main>
