{{!-- comments under alt --}}
<main>
	<h2>Alt Account</h2>

		{{#each alts}}

			<div class="alt">

				<a href='alts/{{_id}}'><h3>See More</h3></a>

				<p>{{alias}}</p>

			</div>

		{{/each}}
	
<a href="/alts/new"><h2>Create a new account</h2></a>

</main>